<!-- views/layout/header.ejs -->
<div class="w-full bg-gray-800 fixed top-0 left-0 text-white z-50">
  <nav class="container m-auto flex justify-between py-4">
    <div>
      <span class="font-bold text-2xl mr-4">
        Project cv
      </span>
      <a class="mx-1 transition-all duration-300 hover:underline" href="#about">About us</a>
      <a class="mx-1 transition-all duration-300 hover:underline" href="#template">Template</a>
      <a class="mx-1 transition-all duration-300 hover:underline" href="#free">Free</a>
      <a class="mx-1 transition-all duration-300 hover:underline" href="#privacy">Privacy</a>
    </div>
    <div class="flex justify-end items-center">
        <a href="/cv/create" class="no-underline mr-6 rounded-full px-2 py-1 hover:underline bg-white text-gray-800 text-sm">Create CV</a>
        <%if (userName) { %>
            Hello <%= userName %>
            <a class="no-underline hover:underline ml-1" href="/logout">logout!</a>
        <% } else { %>
            <div class="flex items-center">
                <a href="/login" class="no-underline mx-3 hover:underline">login</a>/
                <a href="/register" class="no-underline hover:underline ml-1">register</a>
            </div>
        <% } %>
    </div>
  </nav>
</div>
