<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
  <style>
    <%- css.style %>

    [placeholder]:focus::-webkit-input-placeholder {
      transition: text-indent 0.4s 0.4s ease;
      text-indent: -100%;
      opacity: 1;
    }

    #ava-mask {
      bottom: 0;
      left: 0;
      display: none;
    }

    #ava:hover #ava-mask {
      display: flex;
      opacity: 1;
    }
  </style>
</head>

<body class="bg-gray-300">
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <main class="container m-auto">
    <div class="bg-white rounded my-6 p-6 flex items-end">
      <input type="text" class="border-b border-solid border-gray-300 px-4 py-2 outline-none" placeholder="CV title ðŸ‰">
      <span class="mx-8">Update on dd/mm/yyyy</span>
      <button class="rounded outline-none border-none hover:bg-green-500 bg-green-600 text-white transition-all duration-300 px-3 py-2 text-sm">
        create ðŸš€
      </button>
    </div>
    <div class="bg-white my-6 rounded flex items-end">
      <div class="w-4/12 flex flex-col border-r border-solid border-gray-300 p-6">
        <div id="ava" class="cursor-pointer w-full hover:border-blue-500 border border-dashed border-transparent transition-all durantion-200 flex items-center justify-center" style="height: 300px">
          <div class="w-56 h-56 rounded-full overflow-hidden relative border border-solid border-gray-300">
            <!-- display image -->
            <div class="bg-gray-400 w-full absolute flex items-center justify-center h-24 transition-all duration-30 opacity-0" id="ava-mask">
              <span class="text-3xl">ðŸ“·</span>
            </div>
          </div>
        </div>
        <div class="flex items-center mt-4">
          <label for="birth" class="uppercase">birthday</label>
          <input class="outline-none border-none px-4 py-2 flex-1" type="text" id="birth" placeholder="your date of birth ðŸŽ">
        </div>
        <div class="flex items-center">
          <label for="birth" class="uppercase">phone</label>
          <input class="outline-none border-none px-4 py-2 flex-1" type="text" id="birth" placeholder="your phone number ðŸ“ž">
        </div>
      </div>
      <div class="w-8/12">
      </div>
    </div>
  </main>
  <%- include ('../partials/footer.ejs') %>
</body>

</html>
