<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <main>
    this is cv page
  </main>
  <%- include ('../partials/footer.ejs') %>
</body>

</html>
